6.Security administration/start_resources/1.PKI(Public Key Infrastructure)/*
!6.Security administration/start_resources/1.PKI(Public Key Infrastructure)/*.md
!6.Security administration/start_resources/1.PKI(Public Key Infrastructure)/images